.custom-bg {
    background-image: url("http://www.bootply.com/assets/example/bg_cloud.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.header-overlay {
    background-color: rgba(31, 31, 31, 0.75);

}


#login .container #login-row #login-column #login-box {
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
/*#login .container #login-row #login-column #login-box #login-form {*/
    /*padding: 20px;*/
/*}*/
/*#login .container #login-row #login-column #login-box #login-form #register-link {*/
    /*margin-top: -85px;*/
/*}*/