@import url('https://fonts.googleapis.com/css?family=Tajawal:200,300,400,500,700,800,900&subset=arabic');
@import url('https://fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700&subset=arabic');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tajawal', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden; 
}

p {
    font-size: 14px;
}
